@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,600;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8f8f8;
    color: black;
}
nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
    position: sticky;
    top: 0; 
    background-color: white; 
    z-index: 1000; 
}

.sticky-border {
    border-bottom: 1px solid #ddd; 
}

.title{
    font-family: 'Saira', sans-serif;
    color: rgb(227, 0, 0);
    width: 25vw;
    height: 60px;
    font-size: 38px;
    font-weight: bold;
}

.title a{
    color: rgb(227, 0, 0);
    text-decoration: none;
}

.search-container {
    position: relative;
}

.search-input{
    height: 50px;
    width: 35vw;
    border: 1px solid black;
    border-radius: 2px;
    padding-left: 20px;
    outline: none;
}  

.search-icon {
    position: absolute;
    top: 25%;
    right: 2%;
    transform: translateY(-20%);
    pointer-events: none; 
    font-size: 30px;
    color: rgb(227, 0, 0);
}

.options{
    height: 50px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.options-icon{
    margin-right: 5px;
    margin-left: 10px;
    color: rgb(227, 0, 0);
    font-size: 25px;
}
.options span:hover{
    transition: .3s all ease-in-out;
    color: rgb(227, 0, 0);
    cursor: pointer;
}

.options .products:hover{
    transition: .3s all ease-in-out;
    color: rgb(227, 0, 0);
    cursor: pointer;
}

.options:last-child{
    position: relative;
}

.cart-clear-btn{
    border: none;
    position: absolute;
    right: 10px;
    top: 0px;
    font-weight: bold;
    font-size: 15px;
    display: none;
}

.cart-clear-btn.active{
    display: block;
    background: transparent;
}

.cart-clear-btn:hover{
    color: #949494;
    cursor: pointer;
}

.menu{
    height: 70px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.406);
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0;
    position: relative;
    z-index: 999;
    background-color: white;
}
ul{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}
ul a{
    text-decoration: none;
    color: black;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
    color: inherit;
}
ul .products:first-child{
    color: rgb(227, 0, 0);
}
ul li:not(:first-child){
    position: relative;
}

.menu ul li:not(:first-child)::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0; /* Szerokość początkowa linii - zerowa */
    height: 2px;
    background-color:  rgb(227, 0, 0);
    transition: width 0.3s ease, transform 0.3s ease; /* Dodajemy transformację do animacji */
    transform: translateX(-50%); /* Przesunięcie w lewo o połowę szerokości elementu */
}
  
.menu ul li:not(:first-child):hover::after {
    width: 100%; /* Po najechaniu myszką, szerokość linii zmienia się na pełną długość */
    transform: translateX(0); /* Przywracamy transformację do wartości początkowej */
}

ul .products:hover{
    transition: .3s ease-in-out all;
    color: black;
    cursor: pointer;
}

.menu ul.products:first-child{
    display: flex;
    align-items: center;
}

.menu ul li:first-child .icon{
    font-size: 25px;
    margin-right: 10px;
}

.products{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    border: 3px solid red;
    color: red;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
    color: inherit;
}



/*DROPDOWN MENU*/
.menu ul ul{
    
}

/*section*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white; 
    padding-bottom: 20px;
}

/*before-content*/
.before-content{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 70%;
    background-color: white;
    color: #949494;
    margin-top: 20px;
    margin-bottom: 20px;
}
.arrow{
    display: none;
}
.section-container{
    width: 80%;
}
.before-content a{
    text-decoration: none;
    color: black;
}
.before-content a:hover{
    color: rgb(227, 0, 0);
    text-decoration: underline;
}
.title-content{
    width: 80%;
    font-family: 'Saira', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
/*content*/
.content{
    display: flex;
    justify-content: center;
}
/*left-content*/
.left-content{
    width: 15vw;
}
.left-bar{
    border: 1px solid #ddd;
    width: 15vw;
    height: 440px;
}
.left-bar p{
    display: none;
}
.left-bar ul{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.left-bar ul li button{
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    height: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
    cursor: pointer;
}

.left-bar ul li button.active{
    font-weight: bold;
    color: rgb(227, 0, 0);
    border: none;
}

.left-bar ul li button:hover{
    color: rgb(227, 0, 0);
}

.left-bar ul:last-child{
    display: none;
}
.price{
    width: 15vw;
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.price-title{
    margin-top: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.field input{
    width: 100%;
    outline: none;
    -moz-appearance: textfield;
    height: 50px;
    border: 1px solid #949494;
    padding-left: 10px;
    color:#949494;
}

.separator{
    padding: 5%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.price-input{
    display: flex;
    align-items: center;
    width: 100%;
}

.slider{
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
}

.slider .progress{
    height: 5px;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: rgb(227, 0, 0);
}

.range-input{
    position: relative;
    margin-bottom: 20px;
}

.range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: rgb(227, 0, 0);
}

input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: none;
    pointer-events: auto;
    -moz-appearance: none;
    background: rgb(227, 0, 0);
}


.checkbox-inf{
    height: 80px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}

/*custom checkbox*/
.custom-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid black; 
    border-radius: 1px;
  }
  
  .custom-checkbox input:checked + .checkmark:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid rgb(255, 4, 4);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .custom-checkbox input:disabled + .checkmark {
    cursor: not-allowed;
  }

  .custom-checkbox p{
    font-size: 12px;
  }

/*customer-stars*/
.customer-stars{
    border-top: 1px solid #ddd;
    width: 100%;
}

.customer-title{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: antiquewhite; */
}

.checkbox-inf2{
    height: 30px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.custom-checkbox span{
    color: rgb(227, 0, 0);
}

.custom-checkbox .empty-star{
    color: #ddd;
}

/*btns*/
.btns{
    margin-top: 20px;
    width: 100%;
    position: sticky;
    bottom: 1px;
    /* background: #949494; */
}
.btns button:first-child{
    width: 35%;
    height: 40px;
    border: 2px solid black;
    background: white;
    font-size: 12px;
    cursor: pointer;

}
.btns button:nth-child(2){
    display: none;
}
.btns button:last-child{
    width: 63%;
    height: 40px;
    border: 2px solid black;
    background: black;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.btns button:first-child:hover{
    border: 2px solid rgb(227, 0, 0);
    color: rgb(227, 0, 0);
    transition: .3s ease-in-out all;
}

.btns button:last-child:hover{
    border: 2px solid rgb(227, 0, 0);
    background: rgb(227, 0, 0);
    transition: .3s ease-in-out all;
}

/*right-content*/
.right-content{
    width: 70vw;
    padding-left: 40px;
}

.dropdown-flex{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    /* background-color: antiquewhite; */
}
.dropdown{
    width: 17em;
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-right: 2em;
    position: relative;
    background-color: white;
}
.dropdown:nth-child(2) .menu-select {
    /* Twoje style dla drugiego dropdowna */
    height: 280px; /* lub inne style */
}

.right-content-product{
    margin-top: 20px;
}

.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    border-radius: 2px;
    padding: 1em;
    cursor: pointer;
    width: 17em;
}


.select:hover{
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: rgb(227, 0, 0);
}

.caret{
    width: 0;
    height: 0;
    border-left:  5px solid transparent;
    border-right:  5px solid transparent;
    border-top:  6px solid black;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu-select{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 120px;
    display: none;
    transition: 0.2s;
    z-index: 1;
    opacity: 0;
    background-color: white;

}

.menu-select li{
    cursor: pointer;
    height: 40px;
    
}

.menu-select li:hover{
    background: #efefef;
}
.menu-select li:hover:last-child{
    border-bottom: 1px black solid;
}

.active{
    background: #efefef;
}
.active:last-child{
    border-bottom: 1px solid black;
}

.menu-select-open{
    display: block;
    opacity: 1;
    position: absolute;
    top: 100%;
    width: 100%;
}

.icon-change-layout1{
    width: 40px;
    font-size: 36px;
}

.icon-change-layout2{
    width: 40px;
    font-size: 22px;
    color: #ddd;
}

/*main-content*/
.main-content{
    width: 100%;
    display: flex;
    height: 500px;
}

.empty-state{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    display: none;
    background: none;
    width: 500px;
}

.empty-state.active{
    display: block;
}

.main-content:not(:first-child){
    margin-top: 20px;
}

.element1{
    width: 70%;
    height: 100%;
    border: 1px solid #ddd;
}

.element2{
    width: 30%;
    height: 100%;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.element1 .title-element1{
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-top: 20px;

}

.stars-element1{
    width: 100%;
    height: 20px;
    color: rgb(227, 0, 0);
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 16px;
}

.stars-element1 span:last-child{
    font-weight: 100;
    color: #949494;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.big-info{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.big-info-title{
    width: 65%;
    border: 1px solid #ddd;
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

.element1 img{
    width: 180px;
}
.device{
    width: 100%;
    display: flex;
}

.device-img{
    width: 40%;
    display: flex;
    justify-content: center;
}

.device-info{
    width: 60%;
    font-size: 14px;
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
}

.element2{
    padding-top: 10px;
}

.element2 p{
    font-family: 'Saira', sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

.price-sale, .price-basic{
    text-align: center;
    width: 80px;
}

.element2 .days30{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    font-weight: 100;
    color: #949494;
}

.element2-btn{
    height: 67%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.element2-btn button{
    width: 80%;
    height: 50px;
    color: white;
    background-color: rgb(227, 0, 0);
    border: none;
    font-weight: bold;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.element2-btn button:hover{
    transition: .3s ease-in-out;
    background-color: black;
}

.element2 .price-sale{
    display: none;
}

.element2.on-sale .price-basic{
    color: black;
    position: relative;
}

.element2.on-sale .price-basic::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    top: 50%;
    left: 25%;
    background-color: black;
}

.element2.on-sale .price-sale{
    display: block;
    font-size: 40px;
    height: 58px;
}

/*footer*/
footer{
    border-top: 1px solid #ddd;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: white;
}

footer button:hover{
    transition: .3s ease-in-out all;
    background-color: rgb(227, 0, 0);
    cursor: pointer;
}

.socials{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background: red; */
}

.social1{
    display: flex;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    
}

.social1 button{
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.social1 img{
    width: 120px;
}

.imgmap{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social1-part2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social1-part2 span{
    margin-bottom: 10px;
}

.social2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.social2 span{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.social2 button{
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    border: none;
    font-size: 14px;
    font-weight: bold;
    
}

.social3{
    /* background-color: chocolate; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social3 .join{
    width: 100%;
    /* background-color: aqua; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.social3 .icons-socials{
    width: 100%;
    /* background-color: antiquewhite; */
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.social3 .ikon{
    padding-left: 10px;
    padding-right: 10px;
}

.social3 span:hover{
    cursor: pointer;
    transition: .3s ease-in-out all;
    color: rgb(227, 0, 0);
}



/*MEDIA QUERY*/
/*1800px*/
@media only screen and (width< 1800px) {
    .title{
        font-size: 34px;
    }
    .options{
        font-size: 14px;
    }
}


/*1500px*/
@media only screen and (width< 1500px) {
    .title{
        font-size: 30px;
        display: flex;
        align-items: center;
    }
    .options{
        font-size: 12px;
    }
    .menu{
        font-size: 12px;
    }
    .search-input{
        height: 40px;
        
    }
    .main-content{
        height: 400px;
    }
    .element1 img{
        width: 150px;
        height: 200px;
    }
    .device-info{
        font-size: 12px;
    }
    .element2-btn{
        height: 60%;
    }
}

/*1400px*/
@media only screen and (width< 1500px){
    .element1 .title-element1{
        font-size: 17px;
    }
    .big-info-title{
        font-size: 13px;
    }
    footer{
        height: 150px;
        font-size: 13px;
    }
    .socials button{
        width: 160px;
        height: 50px;
        font-size: 12px;
    }
    .social3 .join{
        font-size: 13px;
    }
}

/*415px*/
@media only screen and (width < 415px){
    nav{
        /* background-color: #949494; */
        padding: 0 20px 0 20px;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .title{
        font-size: 20px;
        width: 50%;
    }
    .section-container{
        background-color: white;
    }
    .search-container{
        display: none;
    }
    .options{
        width: 50%;
    }
    .options span{
        display: none;
    }
    .menu{
        display: none;
    }
    .before-content span{
        display: none;
    }
    .before-content{
        width: 100%;
        padding-left: 20px;
        display: flex;
    }
    .arrow{
        display: block;
        font-size: 16px;
        margin-right: 10px;
    }
    .title-content{
        display: none;
    }
    .dropdown-flex{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .left-content, .right-content{
        width: 100%;
        padding: 0;
    }
    .left-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .left-bar{
        width: 100%;
        height: 350px;
        padding: 0;
        border: none;
        background-color: white;
    }
    .left-bar p{
        display: block;
        padding-left: 20px;
        padding-bottom: 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    .left-bar ul{
        display: none;
    }
    .left-bar ul:last-child{
        display: block;
        width: 100%;
        height: 90%;
    }
    .left-bar ul li{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }

    .duzy-radio {
        width: 20px; 
        height: 20px;
        appearance: none; 
        border: 1px solid #000; 
        border-radius: 50%; 
        outline: none; 
        cursor: pointer;
        background-color: transparent; 
        margin-right: 10px;
      }
    .duzy-radio:checked::before{
        display: block;
    }
    .duzy-radio:checked {
        background-color: #fff; 
        border-color: rgb(227, 0, 0);
    }
    /*basic checkbox*/
    .duzy-radio::before {
        content: "";
        width: 7px; 
        height: 7px; 
        background-color: rgb(227, 0, 0); 
        border-radius: 50%;
        position: relative;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }

    .btns
    {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .btns button:first-child{
        display: none;
    }
    .btns button:nth-child(2){
        display: block;
        width: 90%;
        color: white;
        height: 50px;
        background-color: black;
        border: none;
        font-size: 18px;
        font-weight: bold;
        
    }
    .btns button:last-child{
        display: none;
    }
    .price{
        display: none;
    }
    .customer-stars{
        display: none;
    }
    .right-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
        background-color: #f8f8f8;
    }
    .element1{
        width: 100%;
        height: 500px;
        background-color: white;
        border-bottom: none;
        border-top: #e4e4e4;
        
    }
    .element1 img{
        width: 100%;
        height: 100%;
    }
    .device{
        width: 100%;
        display: flex;
    }
    .element2{
        width: 100%;
        height: 300px;    
        position: relative;    
        background-color: white;
        background-image: linear-gradient(to top, rgba(99, 99, 99, 0.2) 0%, transparent 100%);
        background-position: bottom;
        background-size: 100% 2px; /* Grubość cienia na dole */
        background-repeat: no-repeat;
        border-top: none;
    }
    .device-info{
        font-size: 13px;
        padding: 0;
    }
    .days30{
        right: 20px;
        top: 30px;
        position: absolute;
    }
    .element2-btn{
        height: 30%;
    }
    .element2-btn button{
        width: 90%;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
    }
    .section-container{
        width: 100%;
    }
    .left-bar ul li a{
        height: 30px;
        font-size: 14px;
    }
    .big-info-title{
        font-size: 12px;
    }
    /*footer*/
    footer{
        border-top: none;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .socials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .social1{
        display: none;   
    }

    .social2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    
    .social2 span{
        font-weight: bold;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .social2 button{
        width: 200px;
        height: 40px;
        color: white;
        background-color: black;
        border: none;
        font-size: 14px;
        font-weight: bold;
        
    }
    
    .social3{
        /* background-color: chocolate; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .social3 .join{
        display: none;
    }
    
    .social3 .icons-socials{
        width: 100%;
        /* background-color: antiquewhite; */
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}




